<style type="text/css">
	.my-face {width: 220px; height: 260px;}
	.r-button {margin-top: 5px; padding: 5px 60px 5px 60px;}
	@media screen and (max-width: 45.75em){
		.my-face {
			width: 150px; height: 180px;
		}
		.r-button {margin-top: 5px; padding: 5px 25px 5px 25px;}
	}
	@media screen and (max-width: 33.75em){
		.my-face {
			width: 110px; height: 130px;
		}
		.r-button {margin-top: 5px; padding: 5px 5px 5px 5px;}
	}
</style>
<% provide(:title, 'About') %>
<h1>About Me</h1>
<div class="container">
<div class="row">
<div class="col-xs-4">
	<%= image_tag("dan.jpg", class: "my-face", alt: "Dan Johnson") %><br>
	<%= link_to "View Resume &raquo;".html_safe, resume_path, class: "btn btn-default r-button" %>
</div>
<div class="col-xs-8">
Accomplished software developer with comprehensive programming experience in Ruby on Rails, PHP, JavaScript, jQuery, AJAX, CSS3 and HTML5. Highly knowledgeable in relational databases design, SQL, and stored procedures. Well versed in test-driven development and red-green-refactoring. Excellent understanding of customer relationship management, content management systems, enterprise resource planning, and warehouse management software. Experienced in writing technical and conceptual documentation. Highly competent in quality assurance testing and end-user support. Goal-driven, innovative, enthusiastic, motivated, team player, problem solver, critical thinker, constant learner.
<br />
<br />
<ul>
<li>Specialties: RESTful APIs, Behavior- and Test-Driven-Design, Object Oriented Programming, MVC Design Pattern</li>
<li>Languages: Ruby on Rails, PHP, Javascript, jQuery, HTML5, CSS3</li>
<li>Databases: MySQL, SQL Lite, MongoDB, Postgres, and DB2/400 (iSeries)</li>
<li>Tools: Sublime Text 3, Atom, Git, Tower, Sequel Pro, RSpec, Factory Girl, Kaleidoscope, Microsoft Office Suite</li>
<li>Operating Systems: OSX, MS Windows (3.1-7), Linux (Ubuntu), OS/400 (iSeries)</li>
</ul>
</div>
</div>
</div>
<h3>About me (non work-related)</h3>
<p>I am a proud lifelong Oregonian and twenty year resident of the Portland area.</p>
<p>When I'm not writing software I enjoy several hobbies including: hiking, camping, walking my dog, gardening, home improvement, motorcycle riding (streetbike), listening to podcasts, binge-watching Netflix, grilling meat, and playing the occasional video game.</p>
<div class="container">
<div class="row">
<div class="col-xs-4">
<%= image_tag("petunia.jpg", size: "180x200", alt: "Petunia", class: "img-rounded img-responsive") %>Petunia
</div>
<div class="col-xs-4">
<%= image_tag("garden.jpg", size: "180x200", alt: "Petunia", class: "img-rounded img-responsive") %>Petunia
</div>
<div class="col-xs-4">
<%= image_tag("petunia.jpg", size: "180x200", alt: "Petunia", class: "img-rounded img-responsive") %>Petunia
</div>
</div>
</div>
<!-- <p>Find me in app/views/pages/about.html.erb</p> -->