<% provide(:title, 'Blog') %>
<h1>Blog</h1>
<p>Nike Running API Demo using the <a href="https://github.com/skryl/nike">Nike+ REST Client API Gem</a></p>
<table class="table table-striped table-bordered">
<thead>
<tr><th>Activity</th><th>Distance</th><th>Steps</th><th>Duration</th><th>Fuel</th><th>Device</th><th>GPS?</th></tr>
</thead>
<tbody>
<% 
	c = Nike::Client.new('drj3141@gmail.com', 'Goober1970!') 
	activities = c.activities
%>
<% activities.each do |activity| %>
<% d = activity.metrics.duration.to_s %>
<tr>
	<td><a href="#"><%= activity.name %></a></td>
	<td><%= activity.metrics.distance.round 2 %></td>
	<td><%= activity.metrics.steps %></td>
	<td><%= "#{d[0]}:#{d[1,2]}:#{d[3,2]}.#{d[5,2]}" %></td>
	<td><%= activity.metrics.fuel %></td>
	<td><%= activity.device_type %></td>
	<td><span class="glyphicon-class glyphicon glyphicon-<%= activity.gps ? 'ok' : 'remove' %>" style="color: <%= activity.gps ? 'green' : 'red' %>"></span></td>
</tr>
<% end %>
</tbody>
</table>