<style>
.carousel-control {
  margin-top: 0;
  padding-top: 100px;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
  width: 7%;
}
.slides {
  margin-bottom: 0px;
  min-height: 420px;
  max-height: 450px;
  padding: 5px 80px 5px 80px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  font-size: 24px;
}
@media screen and (max-width: 60.75em){
  .slides {
    margin-bottom: 0px;
    min-height: 420px;
    max-height: 450px;
    padding: 5px 50px 5px 50px;
  }
}
.normal-text {
  font-size: 20px;
  color: black;
  text-shadow: black 0em 0em 0em;
}
@media screen and (max-width: 60.75em){
  .normal-text {font-size: 13px;}
}
.normal-text.sml {
  font-size: 12px;
}
.normal-text.white {
  color: white;
}
.slide-1 {
  background-image: url('<%= image_path("turtles3.jpg") %> ');
  background-position: 0% 40%;
}

.slide-5 {
  background-image: url('<%= image_path("bikeshedding1.jpg") %> ');
  background-position: 0% 40%;
  font-size: 20px;
}
@media screen and (max-width: 60.75em){
  .slide-5 {
    background-image: url('<%= image_path("bikeshedding1.jpg") %> ');
    background-position: 0% 40%;
    font-size: 14px;
  }
}
.quote-pad {
  margin-top: 20px;
}
.slide-3 {
  background-image: url('<%= image_path("source-code1.jpg") %> ');
  background-position: 0% 40%;
  font-size: 38px;
}
.slide-4 {
  background-image: url('<%= image_path("dashing-wide.png") %> ');
  background-position: 0% 40%;
  font-size: 38px;
  background-position: 0% 0%;
}
.slide-2 {
  background-image: url('<%= image_path("bridge.png") %> ');
  font-size: 38px;
  background-position: 0% 0%;
}
.slide-6 {
}
.jumbotron:hover {
  background-color:#000;
  opacity:1;
  border-radius:5px;
}

.jumbotron_link {
  color: #C0E93F;
  text-decoration: underline;
}
.jumbotron_link:hover {
  color: white;
  text-decoration: underline;
}
.slide-img {
  height: 400px;
  width: auto;
}
@media screen and (max-width: 60.75em){
  h2 {font-size: 18px;}
}

.div-right {
  /*margin-top: -32px;*/
  font-size: 16px;
  float: right;
  width: 534px;
  border-radius: 8px;
  padding: 5px 5px 0px 5px;
  text-shadow: black 0.0em 0.0em 0.0em;
}

.shady {
  background: rgba(12, 39, 1, 0.5);
}

@media screen and (max-width: 60.75em){
 .div-right {
    font-size: 13px;
    /*margin-top: 1px;*/
    width: inherit;
  }
}

ul {
  margin-left: 500px;
}

.quote_p {
  /*margin-top: 120px;*/
  font-size: 32px;
}
.about-e365 {
  margin-top: -15px;
}
@media screen and (max-width: 55.75em){
  .quote_p {
    /*margin-top: 40px;*/
    font-size: 18px;
  }
  .about-e365 {
    display: none;
  }
}
</style>
<%= favicon_link_tag 'favicon.ico' %>
<div id="myCarousel" class="carousel slide">
   <!-- Carousel indicators -->
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
   </ol>   
   <!-- Carousel items -->
   <div class="carousel-inner">
      <div class="item active slides slide-1">
        <h2>Turtles the whole way down</h2>
        <div class="div-right shady">
          <p>
            <em>"Turtles the whole way down"</em> is a jocular expression of the <a href="http://en.wikipedia.org/wiki/Infinite_regress" class="jumbotron_link">infinite regress</a> problem in cosmology posed by the "<a href="http://en.wikipedia.org/wiki/Unmoved_mover" class="jumbotron_link">unmoved mover</a>" paradox. The metaphor in the anecdote represents a popular notion of the myth that Earth is actually flat and is supported on the back of a World Turtle, which itself is propped up by a chain of larger and larger turtles. Questioning what the final turtle might be standing on, the anecdote humorously concludes that it is "turtles the whole way down".
          </p>
        </div>
        <!-- <p><a class="btn btn-primary btn-lg" role="button" style="margin-top: 221px;">Learn more &raquo;</a></p> -->
      </div>

      <div class="item slides slide-2">
      <!-- <div class="div-right"> -->
        <h2>About me</h2>
        <p class="normal-text white">I fell in love with programming way back in the 80s after my introduction to the Apple IIe and Apple BASIC. I've been writing code personally and proffesionally ever since.</p>
        <p class="normal-text white">After 16 years of developing mainframe software, which turned out to not be a great career choice, I rebooted my career and switched to developing for the web. I consider myself to be primarily a back-end developer as this more closely resembles my previous experience but I do enjoy working on front-end code as well.</p>
        <p class="normal-text white">I intend to keep coding and learning as long as there is code to be written and new things to learn or until the <a href="http://en.wikipedia.org/wiki/Technological_singularity" style="color: white; text-decoration: underline">singularity</a>.</p>
      </div>

      <div class="item slides slide-3">
        <p class="quote-pad">&nbsp;</p>
        <p class="quote_p"><blockquote><%= raw quote %></blockquote></p>
      </div>
      
      <div class="item slides slide-4">
        <h1 style="top-margin: 100px; text-align: center;">Dashing Dashboard</h1>
      </div>

      <div class="item slides slide-5">
         <h2>NO Bikeshedding!</h2>
         <p>Bikeshedding - the term was coined as a metaphor to illuminate <a href="http://en.wikipedia.org/wiki/Parkinson%27s_Law_of_Triviality" title="Parkinson's Law of Triviality">Parkinson’s Law of Triviality</a>. Parkinson observed that a committee whose job is to approve plans for a nuclear power plant may spend the majority of its time on relatively unimportant but easy-to-grasp issues, such as what materials to use for the staff bikeshed, while neglecting the design of the power plant itself, which is far more important but also far more difficult to criticize constructively. It was popularized in the <a href="http://en.wikipedia.org/wiki/Berkeley_Software_Distribution">Berkeley Software Distribution</a> community and has spread from there to the software industry at large.</p>
      </div>

      <div class="item slides slide-6">
        <img src='<%= image_path("evanta365.png") %>' class="slide-img" style="float: left; height: 360px; width: auto; margin-right: 20px;">
        <div class="about-e365">
        <h2 class="normal-text">Evanta365 | Social Event Platform for web, iOS, and Android</h2>
        <p class="normal-text sml">A combination of LinkedIn, CrowdCompass, Twitter, and SurveyMonkey. API serves data to web, iOS, and Android applications. Features: Multilingual, Multitenant, Versioned, Secure, RESTful.</p>
        <p class="normal-text sml"><strong>Using Evanta365 an event attendee can:</strong></p>
        <ul>
          <li class="normal-text sml">View event agenda and add sessions to their schedule</li>
          <li class="normal-text sml">Connect with other attendees (similar to FaceBook friending or following on Twitter)</li>
          <li class="normal-text sml">See speakers, their bios, ask questions</li>
          <li class="normal-text sml">Join or create groups of like-minded attendees</li>
          <li class="normal-text sml">Participate in discussions, like posts, add comments, send private messages</li>
          <li class="normal-text sml">Enter drawings for luxury prizes provided by event sponsors</li>
          <li class="normal-text sml">Take part in the Leaderboard which awards points for various in-app activities (gamification)</li>
          <li class="normal-text sml">Complete evaluations and surveys</li>
        </ul>
        </div>
      </div>
   </div>
   <!-- Carousel nav -->
   <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Rails Projects </h2>
      <p><strong>Ruby on Rails</strong>, often simply referred to as <strong>Rails</strong>, is an open source web application framework written in <a href="http://en.wikipedia.org/wiki/Ruby_(programming_language)">Ruby</a>. Rails is a full-stack framework that emphasizes the use of well-known software engineering patterns and paradigms, including <a href="http://en.wikipedia.org/wiki/Convention_over_configuration">convention over configuration</a>, <a href="http://en.wikipedia.org/wiki/Don%27t_repeat_yourself">don't repeat yourself</a> (DRY), the <a href="http://en.wikipedia.org/wiki/Active_record_pattern">active record pattern</a>, and <a href="http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">model–view–controller</a> (MVC). </p>
      <p><%= link_to "View Details &raquo;".html_safe, ruby_path, class: "btn btn-default" %> <%= link_to "View Fancy &raquo;".html_safe, ruby1_path, class: "btn btn-default" %></p>
    </div>
    <div class="col-md-4">
      <h2>PHP Projects</h2>
      <p><b>PHP</b> is a widely used <a href="http://en.wikipedia.org/wiki/Server-side_scripting" title="Server-side scripting">server-side scripting</a> language created by <a href="http://en.wikipedia.org/wiki/Rasmus_Lerdorf" title="Rasmus Lerdorf">Rasmus Lerdorf</a> in 1994. While PHP originally stood for <i>Personal Home Page</i>, it now stands for <i>"PHP: Hypertext Preprocessor"</i>, which is a <a href="http://en.wikipedia.org/wiki/Recursive_acronym" title="Recursive acronym">recursive acronym</a> or <a href="http://en.wikipedia.org/wiki/Backronym">backronym</a>.</p>
      <p>As of January 2013, PHP was installed on more than 240 million websites (39% of those sampled) and 2.1 million web servers.</p>
      <p><%= link_to "View Details &raquo;".html_safe, php_path, class: "btn btn-default" %></p>
   </div>
    <div class="col-md-4">
      <h2>Other</h2>
      <p>Software development is more than just writing eligent code. During my development career I have worn many hats including: Database Architect, Documenter, Test Writer, Quality Assurer, Project Manager, and Team Leader, Team Morale Booster, and Volunteer.</p>
      <p><%= link_to "View Details &raquo;".html_safe, other_path, class: "btn btn-default" %></p>
    </div>
  </div>
</div>