<style>
.jumbotron {
    margin-bottom: 0px;
    background-image: url('<%= image_path("turtles3.jpg") %> ');
    background-position: 0% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    /*color: #f9d000;*/
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.slides {
  margin-bottom: 0px;
  min-height: 400px;
  max-height: 450px;
  padding: 20px 80px 20px 80px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  font-size: 24px;
}

.slide-1 {
  background-image: url('<%= image_path("turtles3.jpg") %> ');
  background-position: 0% 40%;
}

.slide-2 {
  background-image: url('<%= image_path("bikeshedding1.jpg") %> ');
  background-position: 0% 40%;
  font-size: 20px;
}
.slide-3 {
  background-image: url('<%= image_path("source-code1.jpg") %> ');
  background-position: 0% 40%;
  font-size: 38px;
}
.jumbotron:hover {
  background-color:#000;
  opacity:1;
  border-radius:5px;
}

.jumbotron_link {
  color: #C0E93F;
  text-decoration: underline;
}
.jumbotron_link:hover {
  color: white;
  text-decoration: underline;
}

</style>
<% provide(:title, '') %>


<div id="myCarousel" class="carousel slide">
   <!-- Carousel indicators -->
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
   </ol>   
   <!-- Carousel items -->
   <div class="carousel-inner">
      <div class="item active slides slide-1">
         <h2>Turtles the whole way down</h2>
  <p>"Turtles the whole way down" is a jocular expression of the <a href="http://en.wikipedia.org/wiki/Infinite_regress" class="jumbotron_link">infinite regress</a> problem in cosmology posed by the "<a href="http://en.wikipedia.org/wiki/Unmoved_mover" class="jumbotron_link">unmoved mover</a>" paradox. The metaphor in the anecdote represents a popular notion of the myth that Earth is actually flat and is supported on the back of a World Turtle, which itself is propped up by a chain of larger and larger turtles. Questioning what the final turtle might be standing on, the anecdote humorously concludes that it is "turtles the whole way down".</p>
      <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
         <!-- <div class="carousel-caption">This Caption 1</div> -->
      </div>
      <div class="item slides slide-2">
         <h2>Bikeshedding</h2>
         <p><b>Parkinson's law of triviality</b>, also known as <b>bikeshedding</b>, is <a href="http://en.m.wikipedia.org/wiki/C._Northcote_Parkinson" title="C. Northcote Parkinson">C. Northcote Parkinson</a>'s 1957 argument that organizations give disproportionate weight to trivial issues.</p>
         <p>The concept was first presented as a corollary of his broader "<a href="http://en.m.wikipedia.org/wiki/Parkinson%27s_law" title="Parkinson's law">Parkinson's law</a>" spoof of management. He dramatizes this "law of triviality" with the example of a committee's deliberations on an atomic reactor, contrasting it to deliberations on a bicycle shed. As he put it: "The time spent on any item of the agenda will be in inverse proportion to the sum [of money] involved." A reactor is used because it is so vastly expensive and complicated that an average person cannot understand it, so one assumes that those that work on it understand it. On the other hand, everyone can visualize a cheap, simple bicycle shed, so planning one can result in endless discussions because everyone involved wants to add a touch and show personal contribution.</p>
         <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
      <div class="item slides slide-3">
        <h1>Top Developer Challenges</h1>
        <p>There are only two hard problems in Computer Science:</p>
        <p>Cache invalidation and naming things.</p>
        <p style="margin-left: 140px"> - Phil Karlton</p>
      </div>
   </div>
   <!-- Carousel nav -->
   <a class="carousel-control left" href="#myCarousel" 
      data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#myCarousel" 
      data-slide="next">&rsaquo;</a>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Rails Projects</h2>
      <p><strong>Ruby on Rails</strong>, often simply referred to as <strong>Rails</strong>, is an open source web application framework written in <a href="http://en.wikipedia.org/wiki/Ruby_(programming_language)">Ruby</a>. Rails is a full-stack framework that emphasizes the use of well-known software engineering patterns and paradigms, including <a href="http://en.wikipedia.org/wiki/Convention_over_configuration">convention over configuration</a> (CoC), <a href="http://en.wikipedia.org/wiki/Don%27t_repeat_yourself">don't repeat yourself</a> (DRY), the active record pattern, and model–view–controller (MVC). </p>
      <p><%= link_to "View Details &raquo;".html_safe, ruby_path, class: "btn btn-default" %></p>
    </div>
    <div class="col-md-4">
      <h2>PHP Projects</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Other</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>