<style>
 .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
      width: 7%;
    }
.slides {
  margin-bottom: 0px;
  min-height: 400px;
  max-height: 450px;
  padding: 5px 80px 5px 80px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  font-size: 24px;
}
.normal-text {
  font-size: 20px;
  color: black;
  text-shadow: black 0em 0em 0em;
}
.slide-1 {
  background-image: url('<%= image_path("turtles3.jpg") %> ');
  background-position: 0% 40%;
}

.slide-2 {
  background-image: url('<%= image_path("bikeshedding1.jpg") %> ');
  background-position: 0% 40%;
  font-size: 20px;
}
.slide-3 {
  background-image: url('<%= image_path("source-code1.jpg") %> ');
  background-position: 0% 40%;
  font-size: 38px;
}
.slide-4 {
  background-image: url('<%= image_path("dashing-wide.png") %> ');
  background-position: 0% 40%;
  font-size: 38px;
  background-position: 0% 0%;
}
.slide-5 {
  background-image: url('<%= image_path("bridge.png") %> ');
  background-position: 0% 40%;
  font-size: 38px;
  background-position: 0% 0%;
}
.slide-6 {
  background-image: url('<%= image_path("reading-list1.png") %> ');
  background-position: 0% 40%;
  font-size: 38px;
  background-position: 0% 0%;
}
.slide-7 {
  background-image: url('<%= image_path("evanta365.png") %> ');
  background-position: 0% 40%;
  font-size: 38px;
  background-position: 0% 0%;
}
.jumbotron:hover {
  background-color:#000;
  opacity:1;
  border-radius:5px;
}

.jumbotron_link {
  color: #C0E93F;
  text-decoration: underline;
}
.jumbotron_link:hover {
  color: white;
  text-decoration: underline;
}
.slide-img {
  height: 400px;
  width: auto;
}
.div-right {
  margin-top: -20px;
  font-size: 14px;
  float: right;
  width: 334px;
  border-radius: 8px;
  background: rgba(12, 39, 1, 0.5);
  padding: 5px 5px 0px 5px;
  text-shadow: black 0.0em 0.0em 0.0em;
}
</style>

<div id="myCarousel" class="carousel slide">
   <!-- Carousel indicators -->
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
   </ol>   
   <!-- Carousel items -->
   <div class="carousel-inner">
      <div class="item active slides slide-1">
         <h2>Turtles the whole way down</h2>
         <div class="div-right">
  <p>"Turtles the whole way down" is a jocular expression of the <a href="http://en.wikipedia.org/wiki/Infinite_regress" class="jumbotron_link">infinite regress</a> problem in cosmology posed by the "<a href="http://en.wikipedia.org/wiki/Unmoved_mover" class="jumbotron_link">unmoved mover</a>" paradox. The metaphor in the anecdote represents a popular notion of the myth that Earth is actually flat and is supported on the back of a World Turtle, which itself is propped up by a chain of larger and larger turtles. Questioning what the final turtle might be standing on, the anecdote humorously concludes that it is "turtles the whole way down".</p>
  </div>
      <p><a class="btn btn-primary btn-lg" role="button" style="margin-top: 221px;">Learn more &raquo;</a></p>
         <!-- <div class="carousel-caption">This Caption 1</div> -->
      </div>
      <div class="item slides slide-2">
         <h2>NO Bikeshedding!</h2>
         <p>Bikeshedding - the term was coined as a metaphor to illuminate <a href="http://en.wikipedia.org/wiki/Parkinson%27s_Law_of_Triviality" title="Parkinson's Law of Triviality">Parkinson’s Law of Triviality</a>. Parkinson observed that a committee whose job is to approve plans for a nuclear power plant may spend the majority of its time on relatively unimportant but easy-to-grasp issues, such as what materials to use for the staff bikeshed, while neglecting the design of the power plant itself, which is far more important but also far more difficult to criticize constructively. It was popularized in the <a href="http://en.wikipedia.org/wiki/Berkeley_Software_Distribution">Berkeley Software Distribution</a> community and has spread from there to the software industry at large.</p>
         <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
      <div class="item slides slide-3">
        <!-- <h1>Top Developer Challenges</h1> -->
        <p style="margin-top: 100px"><blockquote><%= raw quote %></blockquote></p>
      </div>
      <div class="item slides slide-4">
        <h1 style="top-margin: 100px; text-align: center;">Dashing Dashboard</h1>
      </div>
      <div class="item slides slide-5">
      </div>
      <div class="item slides slide-6">
      </div>
      <div class="item slides">
        <img src='<%= image_path("evanta365.png") %>' class="slide-img" style="float: left; height: 400px; width: auto; margin-right: 20px;">
        <h2 class="normal-text">Evanta365</h2>
        <p class="normal-text">A combination of LinkedIn, CrowdCompass, Twitter, and SurveyMonkey</p>
        <p class="normal-text">API serves data to web, iOS, and Android applications</p>
        <p class="normal-text">API Features: Multilingual, Multitenant, Versioned, Secure, RESTful</p>
      </div>
   </div>
   <!-- Carousel nav -->
   <a class="carousel-control left" href="#myCarousel" 
      data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#myCarousel" 
      data-slide="next">&rsaquo;</a>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Rails Projects</h2>
      <p><strong>Ruby on Rails</strong>, often simply referred to as <strong>Rails</strong>, is an open source web application framework written in <a href="http://en.wikipedia.org/wiki/Ruby_(programming_language)">Ruby</a>. Rails is a full-stack framework that emphasizes the use of well-known software engineering patterns and paradigms, including <a href="http://en.wikipedia.org/wiki/Convention_over_configuration">convention over configuration</a>, <a href="http://en.wikipedia.org/wiki/Don%27t_repeat_yourself">don't repeat yourself</a> (DRY), the <a href="http://en.wikipedia.org/wiki/Active_record_pattern">active record pattern</a>, and <a href="http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">model–view–controller</a> (MVC). </p>
      <p><%= link_to "View Details &raquo;".html_safe, ruby_path, class: "btn btn-default" %></p>
    </div>
    <div class="col-md-4">
      <h2>PHP Projects</h2>
      <p><b>PHP</b> is a widely used <a href="http://en.wikipedia.org/wiki/Server-side_scripting" title="Server-side scripting">server-side scripting</a> language created by <a href="http://en.wikipedia.org/wiki/Rasmus_Lerdorf" title="Rasmus Lerdorf">Rasmus Lerdorf</a> in 1994. While PHP originally stood for <i>Personal Home Page</i>, it now stands for <i>"PHP: Hypertext Preprocessor"</i>, which is a <a href="http://en.wikipedia.org/wiki/Recursive_acronym" title="Recursive acronym">recursive acronym</a> or <a href="http://en.wikipedia.org/wiki/Backronym">backronym</a>.</p>
      <p>As of January 2013, PHP was installed on more than 240 million websites (39% of those sampled) and 2.1 million web servers.</p>
      <p><%= link_to "View Details &raquo;".html_safe, php_path, class: "btn btn-default" %></p>
   </div>
    <div class="col-md-4">
      <h2>Other</h2>
      <p>Software development is more than just writing eligent code. During my development career I have worn many hats including: Database Architect, Documenter, Test Writer, Quality Assurer, Project Manager, and Team Leader, Team Morale Booster.</p>
      <p><%= link_to "View Details &raquo;".html_safe, other_path, class: "btn btn-default" %></p>
    </div>
  </div>
</div>