<style>
body {
	background-image: url(<%= image_path("arch.jpeg") %>);
	background-size:cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
}
</style>
<% provide(:title, 'PHP') %>
<div style="color: white">
<h1>PHP Projects</h1>
<p>Ruby on Rails has become my perfered tool for development. It works very well for projects ranging from simple to very complex. Developing in Rails I am more productive and deliver better results.</p>
<p><strong>Below are some person applications I have created. Unfortunately, most of my best work is on proprietery websites.</strong></p>
</div>
<section id="body">
  <div id="projects">
    
	<div class="project">
		<%= link_to image_tag("bh-dashboard.png", size: "170x150", alt: "Bluehawk", class: "left") %>
		<p><strong><%= link_to "Bluehawk CMS/CRM", "bluehawk" %></strong></p>
		<p>Bluehawk is an inhouse created combination Content Management System and Customer Relationship Management system used by Evanta. I helps sales people to stay in contact with event attendess, manage sponsors, and engage the event's governing body and speakers. It also gives the content department an easy way to update and maintain the corporate website.</p>
	</div>

	<div class="project">
		<%= image_tag("cortina.png", size: "180x150", alt: "Cortina", class: "right") %>
		<p><strong><a href="https://www.cortina-systems.com/index.php">Cortina Systems Corporate Website (Now called Inphi)</strong></a></p>
		<p>Cortina Systems website had not been updated for over five years and was looking very dated. As part of this project it was moved to Joomla CMS. The Joomla project was heavily modified to provide a unique and modern look. All data was migrated from the legacy system as well.</p>
	</div>
	
	<div class="project">
		<p><%= image_tag("evanta.png", size: "180x150", alt: "fat-free-crm", class: "left") %>
		<p><a href="http://www.evanta.com/"><strong>Evanta Homepage</strong></a></p>
		<p>This is Evanta's main webpage. All content is derived from Bluehawk, our in-house, custom developed, content management and customer relation system.</p>
		<p></p>
	</div>
	
	<div class="project">
		<p><%= image_tag("pfh.png", size: "180x150", alt: "fat-free-crm", class: "right") %>
		<p><a href="http://www.passionforhealingnaturopathic.com/"><strong>Passion for Healing Naturopathic</strong></a></p>
		<p>This is the webpage of my partner, Dr. Mindy Curry ND. It's primarily an old school procedural PHP application. Some day I will find time to bring it up to modern website standards like responsive design.</p>
		<p></p>
	</div>
	
  </div>
</section>
<!-- <p>Find me in app/views/pages/ruby.html.erb</p> -->
<p class="thanks">Thanks for looking</p>