<% provide(:title, 'PHP') %>
<h1>PHP Projects</h1>
<p>Ruby on Rails has become my perfered tool for development. It works very well for projects ranging from simple to very complex. Developing in Rails I am more productive and deliver better results.</p>
<p>Below are some person applications I have created. Unfortunately, most of my best work is on proprietery websites.</p>
<section id="body">
  <div id="projects">
    
    	<div class="project">
				<%= link_to image_tag("bh-dashboard.png", size: "170x150", alt: "Bluehawk", class: "left") %>
				<p><strong><%= link_to "Bluehawk CMS/CRM", "bluehawk" %></strong></p>
				<p>Bluehawk is an inhouse created combination Content Management System and Customer Relationship Management system used by Evanta. I helps sales people to stay in contact with event attendess, manage sponsors, and engage the event's governing body and speakers. It also gives the content department an easy way to update and maintain the corporate website.</p>
		</div>
	</a>
	<a href="https://www.cortina-systems.com/index.php">
		<div class="project">
			<%= image_tag("cortina.png", size: "180x150", alt: "Cortina", class: "right") %>
			<p><strong>Cortina Systems Corporate Website</strong></p>
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		</div>
	</a>
	<a href="http://www.evanta.com/">
		<div class="project">
			<p><%= image_tag("evanta.png", size: "180x150", alt: "fat-free-crm", class: "left") %>
			<p><strong>Evanta Homepage</strong></p>
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		</div>
	</a>
	<a href="">
		<div class="project">
			<p><%= image_tag("icon.png", size: "180x150", alt: "refinery", class: "right") %>
			<p><strong>Refinery</strong></p>
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		</div>
	</a>
	</div>
</section>
<!-- <p>Find me in app/views/pages/ruby.html.erb</p> -->
<p>Thanks for looking</p>