<!-- 
  # c = Nike::Client.new('drj3141@gmail.com', 'Goober1970!') 

  # c.activities do |a|
    #   puts "{name: '#{a.name}', distance: #{a.metrics.distance_in_miles.round 2}, speed: #{a.metrics.speed_in_mph.round 2}, duration: '#{a.metrics.duration_in_hms}', fuel: #{a.metrics.fuel}, device_type: '#{a.device_type}', emotion: '#{a.tags.emotion.try(:titleize)}', shoes: '#{a.tags.shoes.name if a.tags.shoes}', terrain: '#{a.tags.terrain.try(:titleize)}', weather: '#{a.tags.weather.try(:titleize)}', gps: #{a.gps}}, "
  # end
 -->
<style>
  .x-sml {font-size: small; font-weight: normal;}
  .norm {font-weight: normal;}
</style>
<% provide(:title, 'Blog') %>
<ul class="nav nav-pills" role="tablist" style="margin-top: 10px;">
  <li role="presentation" class="active"><a href="/blog">Blog Home <span class="badge">1</span></a></li>
  <li role="presentation"><a href="#">New <span class="badge">1</span></a></li>
  <li role="presentation"><a href="#">Featured</a></li>
</ul>
<h3>
  <span class="label label-info norm">Nike Running Data from Nike's API</span> 
  <span class="label label-success x-sml"><span class="glyphicon-class glyphicon glyphicon-calendar"></span> August 1, 2015 <span class="glyphicon-class glyphicon glyphicon-user"></span> Dan Johnson</span>
</h3>
<h5>Tags: <span class="norm"><span class="label label-danger">Dev</span> <span class="label label-danger">Hobby</span> <span class="label label-danger">Fitness</span></span>
<br/><br/>
<p>I've been using the NikeRunning app for almost five years and it occured to me that it might be interesting to parse all that data. Sure enough, Nike has a nice API that is well documented on their site <a href="https://developer.nike.com/index.html">developer.nike.com</a>. To avoid recreating the wheel (DRTW - don't recreate the wheel) I used the <a href="https://github.com/skryl/nike">Nike+ REST Client API Gem</a> created by <a href="https://github.com/skryl">Alex Skryl</a>. I may fork this project and add a few more parsing helpers that I used and I think others might find useful.</p>
<p>Bacon ipsum dolor amet pork ground round pork belly beef ribs jerky short ribs flank biltong ribeye turducken kevin shank ham hock fatback. Boudin turkey ham hock biltong, shank filet mignon spare ribs cupim. Filet mignon cow jerky, sausage boudin tail short ribs flank andouille swine shank pig brisket rump. Leberkas filet mignon fatback prosciutto. Turducken pork chop sausage ham hock.</p>
<p style="color: grey">Note: this is a cached dataset as the actual API call takes almost a minute since I have over 1,800 activity records.</p>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Distance <span class="glyphicon-class glyphicon glyphicon-road" style="color: grey"></span></th>
      <th>Speed <span class="glyphicon-class glyphicon glyphicon-dashboard" style="color: grey"></span></th>
      <th>Duration <span class="glyphicon-class glyphicon glyphicon-time" style="color: grey"></span></th>
      <th>Fuel <span class="glyphicon-class glyphicon glyphicon-fire" style="color: grey"></span></th>
      <th>Device <span class="glyphicon-class glyphicon glyphicon-phone" style="color: grey"></span></th>
      <th>Emotion <span class="glyphicon-class glyphicon glyphicon-stats" style="color: grey"></span></th>
      <th>Shoes <span class="glyphicon-class glyphicon glyphicon-briefcase" style="color: grey"></span></th>
      <th>Terrain <span class="glyphicon-class glyphicon glyphicon-tree-conifer" style="color: grey"></span></th>
      <th>Weather <span class="glyphicon-class glyphicon glyphicon-cloud" style="color: grey"></span></th>
      <th>GPS? <span class="glyphicon-class glyphicon glyphicon-globe" style="color: grey"></span></th>
    </tr>
  </thead>
  <tbody>
    <% FitnessLog.all.each do |activity| %>
      <tr>
        <td><a href="#"><%= activity[:name] %></a></td>
        <td><%= activity[:distance] %><span style="font-size: x-small">MI</span></td>
        <td><%= activity[:speed] %><span style="font-size: x-small">MPH</span></td>
        <td><%= activity[:duration] %></td>
        <td><%= activity[:fuel] %></td>
        <td><%= activity[:device_type] %></td>
        <td class="<%= activity[:emotion] %>"><%= activity[:emotion] %></td>
        <td><%= activity[:shoes] %></td>
        <td><%= activity[:terrain] %></td>
        <td><%= activity[:weather] %></td>
        <td><span class="glyphicon-class glyphicon glyphicon-<%= activity[:gps] ? 'ok' : 'remove' %>" style="color: <%= activity[:gps] ? 'green' : 'red' %>"></span></td>
      </tr>
    <% end %>
  </tbody>
</table>